Keyword not in canonical order is reported as an error

The web tool reports descriptors appearing before a type as an error.  

For example in a leaf
leaf foo {
description "example";
type uint32;
}
one gets
'keyword "description" not in canonical order,expected "type", (See RFC 6020, Section 12)'

The leaf value, among other statements, clearly notes ";; these stmts can appear in any order" in RFC 6020, Section 12.   The statement can mislead one to believe that the YANG is in error when in fact RFC 6020, Section 12 permits description appearing before type. 


This is related to the pyang tool, not from the extractor/validator itself. Closing and apologies for the fairly extreme delay in responding, hopefully you've found a way forward in the meantime.